<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fekrah.dolphin">

    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Required to check whether user has network connection or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Dangerous Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".technicale.activities.CurrentOrderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.activities.VideoCapture" />
        <activity android:name=".common.VideoPlayerActivity" />
        <activity android:name=".technicale.activities.TechnicalHomeActivity" />
        <activity
            android:name=".technicale.activities.TechnicalRegisterActivity"
            android:parentActivityName=".technicale.activities.TechnicalLoginActivity" />
        <activity
            android:name=".technicale.activities.TechnicalLoginActivity"
            android:parentActivityName=".client.activities.ClientLoginActivity" />
        <activity android:name=".client.activities.ClientLoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnKvay92-zyf4Or37UL6tsEF7BL8PiC6U" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".client.ClientHomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".client.activities.RegisterActivity"
            android:parentActivityName=".client.activities.ClientLoginActivity" />
        <activity android:name=".client.activities.SplashActivity">

        </activity>
        <activity android:name=".client.BookTechnicalClientActivity" />
        <activity android:name=".technicale.OrderDetailsTechnicalActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCrop" />
    </application>

</manifest>